.App {
  text-align: center;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #087122;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(  to right,#24ee4c,#36d84e,#179535,#027236 );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #24ee4c, #36d84e, #179535, #036d35);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.targets {
  background-color: #37FD12;
}

#profile-card{
  background-color: #3ADB82;
}
